<a (click)="activeMessages()" class="pointer"><span class="fa fa-comments"></span></a>
<div class="informer informer-danger">{{userMessages.length}}</div>

<div class="panel panel-primary animated zoomIn xn-drop-right xn-panel-dragging">
  <div class="panel-heading">
    <h3 class="panel-title pull-right"><span class="fa fa-comments"></span> {{ 'Messages' | translate }} </h3>
    <div class="pull-left">
      <span class="label label-danger"> {{userMessages.length}}  {{ 'New' | translate }}</span>
    </div>
  </div>
  <div class="panel-body list-group list-group-contacts scroll" style="height: 250px;">

    <a *ngFor="let message of userMessages" (click)="rowClicked(message.id)" class="list-group-item pointer">
      <div class="list-group-status {{message.userStatus}}"></div>
      <img src="{{message.userPictureUrl}}" class="pull-right" alt="{{message.fromUser}}"/>
      <span class="contacts-title">{{message.fromUser}}</span>
      <p>{{message.messageTitle}}</p>
    </a>

  </div>

  <div class="panel-footer text-center pointer">
    <a (click)="footerClicked()">{{ 'Show all messages' | translate }}</a>
  </div>

</div>


