<div class="col-md-12" (keydown)="keyDown($event)" tabindex="0" #mainDiv>

  <form class="form-horizontal" #customerForm="ngForm">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>{{ 'Customer Form' | translate }}</strong>
        </h3>
        <ul class="panel-controls">
          <li><a [routerLink]="['/userProfile']" class="panel-remove pointer"><span class="fa fa-times"></span></a></li>
          <li><a class="panel-refresh pointer"><span class="fa fa-refresh"></span></a></li>
          <li><a class="panel-collapse pointer"><span class="fa fa-angle-down"></span></a></li>
          <li><a class="panel-fullscreen pointer"><span class="fa fa-expand"></span></a></li>
        </ul>
      </div>
      <div class="panel-body">

        <div class="row">

          <div *ngIf="pageMode == PageMode.SEARCH" class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Customer ID' | translate }}</label>
              <div class="col-md-6 col-sm-9 col-xs-12">
                <input type="text"
                       class="form-control"
                       placeholder="{{ 'Customer ID' | translate }}"
                       pattern="^[1-9]+[0-9]*$"
                       #customerId
                       ngModel
                       name="customerId"/>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-12">
                <button class="btn btn-success btn-block"
                        (click)="onSearchClick()">{{ 'Search' | translate }}
                </button>
              </div>
            </div>

          </div>

          <div *ngIf="pageMode != PageMode.SEARCH" class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Customer ID' | translate }}</label>
              <div class="col-md-6 col-sm-9 col-xs-12">
                <input disabled="{{pageMode != PageMode.INSERT}}"
                       class="form-control"
                       placeholder="{{ 'Customer ID' | translate }}"
                       [(ngModel)]="customer.customerId"
                       required
                       pattern="^[1-9]+[0-9]*$"
                       #customerId="ngModel"
                       name="customerId"/>
              </div>

            </div>

          </div>

          <div class="col-md-6">
             <span class=" label label-warning label-form" *ngIf="showMessageSearchError">
                {{ 'Customer With This Id Not Found !!' | translate }}
            </span>

            <span class=" label label-success label-form" *ngIf="showMessageEditSuccess">
                {{ 'Customer Edited Successfully !!' | translate }}
            </span>
            <span class=" label label-success label-form" *ngIf="showMessageInsertSuccess">
                {{ 'Customer Inserted Successfully !!' | translate }}
            </span>
            <span class=" label label-success label-form" *ngIf="showMessageDeleteSuccess">
                {{ 'Customer Deleted Successfully !!' | translate }}
            </span>

          </div>

        </div>

        <hr/>

        <div class="row">

          <div class="col-md-6">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'First Name' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'First Name' | translate }}"
                       [(ngModel)]="customer.firstName"
                       required
                       #firstName="ngModel"
                       name="firstName"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Last Name' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'Last Name' | translate }}"
                       [(ngModel)]="customer.lastName"
                       required
                       #lastName="ngModel"
                       name="lastName"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Father Name' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'Father Name' | translate }}"
                       [(ngModel)]="customer.fatherName"
                       required
                       #fatherName="ngModel"
                       name="fatherName"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Certificate Code' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'Certificate Code' | translate }}"
                       [(ngModel)]="customer.certificateCode"
                       required
                       pattern="^[1-9]+[0-9]*$"
                       #certificateCode="ngModel"
                       name="certificateCode"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Date of birth' | translate }}</label>
              <div class="col-md-2">
                <select disabled="{{readOnly}}"
                        class="form-control select"
                        [(ngModel)]="customer.birthDay"
                        required
                        #birthDay="ngModel"
                        name="birthDay">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option selected="selected">4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>

                </select>
              </div>
              <div class="col-md-2">
                <select disabled="{{readOnly}}"
                        class="form-control select"
                        [(ngModel)]="customer.birthMonth"
                        required
                        #birthMonth="ngModel"
                        name="birthMonth">

                  <option>1</option>
                  <option selected="selected">2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
              <div class="col-md-2">
                <select disabled="{{readOnly}}"
                        class="form-control select"
                        [(ngModel)]="customer.birthYear"
                        required
                        #birthYear="ngModel"
                        name="birthYear">

                  <option>1360</option>
                  <option>1361</option>
                  <option>1362</option>
                  <option>1363</option>
                  <option>1364</option>
                  <option>1365</option>
                  <option>1366</option>
                  <option>1367</option>
                  <option selected="selected">1365</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'National Code' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'National Code' | translate }}"
                       [(ngModel)]="customer.nationalCode"
                       required
                       pattern="^[0-9]+[0-9]*$"
                       #nationalCode="ngModel"
                       name="nationalCode"/>
              </div>
            </div>

          </div>

          <div class="col-md-6">


            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Mobile Number' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'Mobile Number' | translate }}"
                       [(ngModel)]="customer.mobileNumber"
                       required
                       pattern="^[0-9]+[0-9]*$"
                       #mobileNumber="ngModel"
                       name="mobileNumber"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Birth Location' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'Birth Location' | translate }}"
                       [(ngModel)]="customer.birthLocation"
                       required
                       #birthLocation="ngModel"
                       name="birthLocation"/>

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'E-mail' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <input disabled="{{readOnly}}"
                       class="form-control"
                       placeholder="{{ 'E-mail' | translate }}"
                       [(ngModel)]="customer.email"
                       required
                       email
                       #email="ngModel"
                       name="email"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Address' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <textarea disabled="{{readOnly}}"
                          class="form-control"
                          rows="3"
                          [(ngModel)]="customer.address"
                          required
                          #address="ngModel"
                          name="address">

                </textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">{{ 'Receive E-mail' | translate }}</label>
              <div class="col-md-6 col-xs-12">
                <label class="check">
                  <input disabled="{{readOnly}}"
                         type="checkbox"
                         class="icheckbox"
                         [(ngModel)]="customer.receiveEmail"
                         #receiveEmail="ngModel"
                         name="receiveEmail"/>

                  {{ 'I want to get emails' | translate }}

                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer text-left">

        <button *ngIf="pageMode == PageMode.INSERT || pageMode == PageMode.EDIT"
                (click)="resetForm()"
                class="btn btn-info">{{ 'Clear Form' | translate }}

        </button>

        <button *ngIf="pageMode == PageMode.DELETE"
                class="btn btn-danger"
                (click)="onDeleteClick()">{{ 'Delete' | translate }}
        </button>

        <button *ngIf="pageMode != PageMode.SEARCH"
                class="btn btn-warning"
                (click)="onReturnClick()">{{ 'Back' | translate }}
        </button>

        <button *ngIf="pageMode == PageMode.INSERT || pageMode == PageMode.EDIT"
                class="btn btn-primary"
                [disabled]="!customerForm.valid"
                (click)="onSaveClick()"
                type="submit">{{ 'Save' | translate }}

        </button>
      </div>
    </div>
  </form>

</div>
