<!-- START X-NAVIGATION -->
<ul class="x-navigation">
  <li class="xn-logo">
    <a class="pointer">Ctech.ir</a>
    <a class="x-navigation-control pointer"></a>
  </li>
  <li class="xn-profile">
    <a class="profile-mini pointer">
      <img src="./assets/images/users/avatar.jpg" alt="M.Mohammadi"/>
    </a>
    <div class="profile">
      <div class="profile-image">
        <img src="./assets/images/users/avatar.jpg" alt="M.Mohammadi"/>
      </div>
      <div class="profile-data">
        <div class="profile-data-name">M.Mohammadi</div>
        <div class="profile-data-title">Web Developer/Designer</div>
      </div>
      <div class="profile-controls">
        <a class="profile-control-left pointer"><span class="fa fa-info"></span></a>
        <a class="profile-control-right pointer"><span class="fa fa-envelope"></span></a>
      </div>
    </div>
  </li>

  <li class="xn-title">{{ 'Menu List' | translate }}
  </li>

  <li *ngFor="let menu1 of getMenuListRoot(passedMenuNumber)"
      [ngClass]="{'xn-openable' : menuHasChild(menu1.id)}">

    <a *ngIf="menu1 != null" class="pointer">
      <span class="fa {{menu1.icon}}"></span>
      <span class="xn-text">{{menu1.title + '(' + menu1.id +  ')'}}</span>
    </a>
    <ul *ngIf="menu1 != null">
      <li *ngFor="let menu2 of getMenuListByPid(menu1.id)"
          [ngClass]="{'xn-openable' : menuHasChild(menu2.id)}">

        <a *ngIf="menu2 != null" class="pointer" (click)="callMenu(menu2.id)">
          <span class="fa {{menu2.icon}}"></span>
          {{menu2.title + '(' + menu2.id + ')'}}
        </a>

        <ul *ngIf="menu2 != null">
          <li *ngFor="let menu3 of getMenuListByPid(menu2.id)"
              [ngClass]="{'xn-openable' : menuHasChild(menu3.id)}">
            <a *ngIf="menu3 != null" class="pointer" (click)="callMenu(menu3.id)">
              <span class="fa {{menu3.icon}}"></span>
              {{menu3.title + '(' + menu3.id + ')'}}
            </a>

            <ul *ngIf="menu3 != null">
              <li *ngFor="let menu4 of getMenuListByPid(menu3.id)"
                  [ngClass]="{'xn-openable' : menuHasChild(menu4.id)}">
                <a *ngIf="menu4 != null" class="pointer" (click)="callMenu(menu4.id)">
                  <span class="fa {{menu4.icon}}"></span>
                  {{menu4.title + '(' + menu4.id + ')'}}
                </a>

                <ul *ngIf="menu4 != null">
                  <li *ngFor="let menu5 of getMenuListByPid(menu4.id)"
                      [ngClass]="{'xn-openable' : menuHasChild(menu5.id)}">
                    <a *ngIf="menu5 != null" class="pointer" (click)="callMenu(menu5.id)">
                      <span class="fa {{menu5.icon}}"></span>
                      {{menu5.title + '(' + menu5.id + ')'}}
                    </a>

                  </li>
                </ul>

              </li>
            </ul>

          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!--<li class="xn-openable">-->

  <!--<a routerLink="/userProfile">-->
  <!--<span class="fa fa-files-o"></span>-->
  <!--<span class="xn-text">Pages</span>-->
  <!--</a>-->

  <!--<ul>-->
  <!--<li>-->
  <!--<a href="pages-gallery.html">-->
  <!--<span class="fa fa-image"></span> Gallery-->
  <!--</a>-->
  <!--</li>-->
  <!--<li><a href="pages-profile.html"><span class="fa fa-user"></span> Profile</a></li>-->
  <!--<li><a href="pages-address-book.html"><span class="fa fa-users"></span> Address Book</a></li>-->
  <!--<li class="xn-openable">-->
  <!--<a href="/userProfile/#"><span class="fa fa-clock-o"></span> Timeline</a>-->
  <!--<ul>-->
  <!--<li>-->
  <!--<a href="pages-timeline.html">-->
  <!--<span class="fa fa-align-center"></span> Default-->
  <!--</a>-->
  <!--</li>-->

  <!--<li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> Full Width</a></li>-->
  <!--</ul>-->
  <!--</li>-->

  <!--<li><a href="pages-content-table.html"><span class="fa fa-columns"></span> Content Table</a></li>-->
  <!--<li><a href="pages-faq.html"><span class="fa fa-question-circle"></span> FAQ</a></li>-->
  <!--<li><a href="pages-search.html"><span class="fa fa-search"></span> Search</a></li>-->
  <!--<li class="xn-openable">-->
  <!--<a href="/userProfile/#"><span class="fa fa-file"></span> Blog</a>-->

  <!--<ul>-->
  <!--<li><a href="pages-blog-list.html"><span class="fa fa-copy"></span> List of Posts</a></li>-->
  <!--<li><a href="pages-blog-post.html"><span class="fa fa-file-o"></span>Single Post</a></li>-->
  <!--</ul>-->
  <!--</li>-->
  <!--<li class="xn-openable">-->
  <!--<a href="/userProfile/#"><span class="fa fa-sign-in"></span> Login</a>-->
  <!--<ul>-->
  <!--<li><a href="pages-login.html">App Login</a></li>-->
  <!--<li><a href="pages-login-website.html">Website Login</a></li>-->
  <!--<li><a href="pages-login-website-light.html"> Website Login Light</a></li>-->
  <!--</ul>-->
  <!--</li>-->

  <!--</ul>-->

  <!--</li>-->

  <!--<li class="xn-openable">-->

  <!--<a href="/userProfile/#">-->
  <!--<span class="fa fa-bar-chart-o"></span>-->
  <!--<span class="xn-text">Charts</span>-->
  <!--</a>-->

  <!--<ul>-->
  <!--<li><a href="charts-morris.html"><span class="fa fa-sort-amount-asc"></span>Morris</a></li>-->
  <!--<li><a href="charts-nvd3.html"><span class="fa fa-signal"></span>NVD3</a></li>-->
  <!--<li><a href="charts-rickshaw.html"><span class="fa fa-sitemap"></span>Rickshaw</a></li>-->
  <!--<li><a href="charts-other.html"><span class="fa fa-tasks"></span>Other</a></li>-->

  <!--</ul>-->

  <!--</li>-->

</ul>
<!-- END X-NAVIGATION -->

