/* mouse over tr */
.table > tbody > tr:hover {
  background-color: #c7c7cf;
}

.table tr.active td {
  background-color: #a9a9b1;
  color: white;
}

.table > thead > tr > th {
  background-color: #123456;
  color: white;

}

/* selected tr */
tr:active {
  background-color: #c3c3cb;
}

.oddRow {
  background-color: rgba(255, 255, 255, 255);
}

.evenRow {
  background-color: #ececf4;
}


