<div class="col-md-12">

  <div class="panel panel-success">
    <div class="panel-heading ui-draggable-handle">
      <h3 class="panel-title">{{ 'Customer List' | translate }}</h3>
      <ul class="panel-controls">

        <li><a [routerLink]="['/userProfile']" class="panel-remove pointer"><span class="fa fa-times"></span></a></li>
        <li><a class="panel-refresh pointer"><span class="fa fa-refresh"></span></a></li>
        <li><a class="panel-collapse pointer"><span class="fa fa-angle-down"></span></a></li>
        <li><a class="panel-fullscreen pointer"><span class="fa fa-expand"></span></a></li>
      </ul>

      <span class=" label label-warning label-form" *ngIf="showMessagePleaseSelectOne">
                {{ 'Please Select A Customer !' | translate }}
      </span>

      <span class=" label label-success label-form" *ngIf="showMessageDeletedSuccessfully">
                {{ 'Customer Deleted Successfully !' | translate }}
      </span>

    </div>
    <div class="panel-body">

      <table (keydown)="keyDown($event)"
             tabindex="0"
             class="table table-sm table-bordered"
             #myTable>

        <thead>
        <tr>
          <th class="pointer" (click)="sort('customerId')">{{ 'Customer ID' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'customerId',
            'fa-sort-asc': (column == 'customerId' && !isDesc),
            'fa-sort-desc': (column == 'customerId' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="pointer" (click)="sort('firstName')">{{ 'First Name' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'firstName',
            'fa-sort-asc': (column == 'firstName' && !isDesc),
            'fa-sort-desc': (column == 'firstName' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="pointer" (click)="sort('lastName')">{{ 'Last Name' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'lastName',
            'fa-sort-asc': (column == 'lastName' && !isDesc),
            'fa-sort-desc': (column == 'lastName' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="pointer" (click)="sort('fatherName')">{{ 'Father Name' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'fatherName',
            'fa-sort-asc': (column == 'fatherName' && !isDesc),
            'fa-sort-desc': (column == 'fatherName' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="hidden-xs pointer" (click)="sort('certificateCode')">{{ 'Certificate Code' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'certificateCode',
            'fa-sort-asc': (column == 'certificateCode' && !isDesc),
            'fa-sort-desc': (column == 'certificateCode' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="hidden-sm hidden-xs pointer" (click)="sort('nationalCode')">{{ 'National Code' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'nationalCode',
            'fa-sort-asc': (column == 'nationalCode' && !isDesc),
            'fa-sort-desc': (column == 'nationalCode' && isDesc) }" aria-hidden="true"></i>

          </th>
          <th class="hidden-sm hidden-xs pointer" (click)="sort('mobileNumber')">{{ 'Mobile Number' | translate }}
            <i class="pull-left fa" [ngClass]="{'fa-sort': column != 'mobileNumber',
            'fa-sort-asc': (column == 'mobileNumber' && !isDesc),
            'fa-sort-desc': (column == 'mobileNumber' && isDesc) }" aria-hidden="true"></i>

          </th>
        </tr>
        </thead>

        <tbody>
        <tr
          *ngFor="let customer of customerList | tableFilter:filteredString ;let odd = odd; let even = even "
          [class.oddRow]="odd"
          [class.evenRow]="even"
          [class.active]="customer.customerId == selectedRow"
          (click)="setClickedRow(customer.customerId)">

          <td>{{customer.customerId}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.fatherName}}</td>
          <td class="hidden-xs">{{customer.certificateCode}}</td>
          <td class="hidden-sm hidden-xs">{{customer.nationalCode }}</td>
          <td class="hidden-sm hidden-xs">{{customer.mobileNumber}}</td>

        </tr>
        </tbody>
      </table>

    </div>
    <div class="panel-footer" [class.text-right]="isRtlMode()" [class.text-left]="!isRtlMode()">
      <div class="col-xs-8" [class.pull-right]="isRtlMode()" [class.pull-left]="!isRtlMode()">
        <button class="btn btn-primary" (click)="insertCustomer()">
          {{ 'Add' | translate }}
        </button>

        <button class="btn btn-warning" (click)="editCustomer()">
          {{ 'Edit' | translate }}
        </button>

        <button class="btn btn-danger" (click)="deleteCustomer()">
          {{ 'Delete' | translate }}
        </button>

        <button class="btn btn-default" (click)="viewCustomer()">
          {{ 'View' | translate }}
        </button>

      </div>

      <div class="input-group col-xs-4 pull-left" [class.pull-left]="isRtlMode()" [class.pull-right]="!isRtlMode()">
        <span class="input-group-addon"><span class="fa fa-search"></span></span>
        <input class="form-control"
               placeholder=" {{ 'Search' | translate }}"
               [(ngModel)]="filteredString" type="text"
               #searchText>
      </div>

    </div>


  </div>

</div>

